.wallet-form {
  align-items: center;
  background: rgba(225, 229, 235, 0.49);
  color: #003be5;
  display: flex;
  flex-flow: wrap;
  font-size: 14px;
  font-weight: 700;
  gap: 15px;
  height: 150px;
  justify-content: center;
  line-height: 14px;
}

th {
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
}

td {
  color: #2fc18c;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
}

th , td {
  text-align: center;
}

.add-expense {
  align-items: center;
  background: #2fc18c;
  border: 1px solid #2fc18c;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  line-height: 14px;
  margin: 10px auto;
  text-align: center;
  width: 330px;
}
